main {
  margin: 0 5%;
  margin-bottom: 2rem;
}

header {
  background-color: #f4976c;
  color: #fff;
  padding-left: 10%;
}


input,
textarea {
  border: 0.17rem solid #303c6c;
  border-radius: 0.2rem;
}

label,
textarea,
label > input {
  display: block;
}

label > input {
  width: 100%;
  height: 2.7rem;
  margin-top: 1rem;
}

label,
p,
h3,
h4 {
  font-family: 'rubik', sans-serif;
}

label {
  height: 20%;
  color: #303c6c;
}

label:not([for='url']) {
  margin-top: 1.5rem;
}

textarea {
  font-family: 'rubik', sans-serif;
  width: 100%;
  height: 6rem;
  margin: 1rem 0;
}

.placeholder-img {
  width: 100%;
}

h1,
h2,
li > a {
  font-family: 'karla', sans-serif;
}

nav {
  display: flex;
  align-items: center;
}

li  {
  list-style-type: none;
}

li > a {
   text-decoration: none;
   color: #ffffff;
   font-size: 1.1rem;
}

h1 {
  color: #303c6c;
}

.submit-button {
  text-align: end;
}

.edit,
.submit-button > input {
  color: #fff;
  background-color: #f4976c;
  border: 0.15rem solid #f4976c;
  padding: 0.3rem 0.8rem;
  transition: background-color 1s;
}

.edit {
  text-decoration: none;
  border-radius: 0.2rem;
}

.edit:hover,
.submit-button > input:hover {
  background-color: #fff;
  color: #f4976c;
  border: 0.15rem solid #f4976c;
}

.icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

h3,
h4 {
  display: flex;
  align-items: center;
}
